<footer class="footer__structure-root footer__styling">
    <div class="footer__row footer__main-content">
        <div class="footer__worklyfe">
            <img alt="Footer logo of Worklyfe company" rel="preload" src="assets/footerLogo.png" />

            <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Eget nisl nunc quam ac sed turpis volutpat. Cursus sed massa non nisi, placerat.</p>

            <div>
                <img alt="Instagram icon" src="assets/icons/instagram.svg" />
                <img alt="Dribble icon" src="assets/icons/dribble.svg" />
                <img alt="Twitter icon" src="assets/icons/twitter.svg" />
                <img alt="Youtube icon" src="assets/icons/youtube.svg" />
            </div>
        </div>

        <div>
            <h2>Quick links <img alt="Icon when clicked reveals quick links section" class="footer__icon footer__icon--close" src="assets/icons/arrow.svg" /></h2>

            <ul>
                <li><a href="">Offices</a></li>
                <li><a href="">Timetable</a></li>
                <li><a href="">Clubs</a></li>
                <li><a href="">Perks</a></li>
                <li><a href="">Free Trial</a></li>
            </ul>
        </div>

        <div>
            <h2>Guides <img alt="Icon when clicked reveals guides section" class="footer__icon footer__icon--close" src="assets/icons/arrow.svg" /></h2>

            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Jobs</a></li>
                <li><a href="">Applicants</a></li>
                <li><a href="">Statements</a></li>
                <li><a href="">Privacy</a></li>
            </ul>
        </div>

        <div>
            <h2>Reach us <img alt="Icon when clicked reveals the Reach us section" class="footer__icon footer__icon--close" src="assets/icons/arrow.svg" /></h2>

            <ul class="footer__contact-list">
                <li><img alt="Email icon representing an email" src="assets/icons/message.svg" />admin@worklyfe.com</li>
                <li><img alt="Phone icon representing a phone" src="assets/icons/phone.svg" />+88 98765 43210</li>
                <li><img alt="Location icon representing the location" src="assets/icons/location.svg" />90210 Beverly Hills California USA</li>
            </ul>
        </div>
    </div>

    <div class="footer__row footer__secondary-content">
        <p>© 2022 WorkLyfe. All rights reserved</p>

        <div class="footer__terms">
            <div>
                <a href="">Terms & Conditions</a>
                <span>|</span>
                <a href="">Privacy Policy</a>
                <span class="footer__temporary-pipe">|</span>
            </div>

            <div>
                <a href="">Sitemap</a>
                <span>|</span>
                <a href="">Disclaimer</a>
            </div>
        </div>
    </div>
</footer>