<header class="header__structure header__position header__appaerance">
    <img rel="preload" alt="Website logo" src="assets/logo.svg" />

    <nav class="header__nav__structure">
        <a href="" class="header__nav__link">About</a>
        <a href="" class="header__nav__link">Offices</a>
        <a href="" class="header__nav__link">Packages</a>
        <a href="" class="header__nav__link">Benefits</a>
        <a href="" class="header__nav__link">Prices</a>
    </nav>

    <button class="primary login">
        Login
    </button>

    <img rel="preload" id="menuIcon" alt="Dropdown mobile menu - click to show dropdown" src="assets/menu.svg" />
</header>