<section class="image-section__structure structure-image-fix">
    <div class="image-section__overlay"></div>
    <picture>
        <source media="(max-width: 786px)" srcset="assets/responsiveHero4.jpg" />
        <source media="(min-width: 1280px)" srcset="assets/responsiveHero3.jpg" />

        <img alt="Background image of this image section" src="assets/responsiveHero3.jpg" />
    </picture>

    <div class="image-section__content">
        <h1 class="image-section__content--header">
            Become more than you are
        </h1>

        <p class="image-section__content--paragraph">
            Staying productive is great fun and keeps you healthy.  Check out how you can join in.
        </p>

        <button class="secondary benefits">
            Let's do it
        </button>
    </div>
</section>