<section class="office__structure">
    <div class="office__images">
        <img alt="An image of business people standing in an apartment" class="office__images__image" src="assets/office1.png" />
        <img alt="An image of a person typing on a laptop" class="office__images__image" src="assets/office2.png" />
    </div>

    <div class="office__content">
        <h1>
            Check your new office
        </h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in molestie sed, gravida nec felis. Sed id egestasegestas risus, ut imperdiet augue.
        </p>

        <button class="primary">View the FAQ</button>
    </div>
</section>