<section class="image-section__structure">
    <div class="image-section__overlay"></div>
    <picture>
        <source media="(max-width: 786px)" srcset="assets/responsiveHero1.jpg" />
        <source media="(min-width: 1280px)" srcset="assets/responsiveHero2.jpg" />

        <img alt="Background image of this image section" src="assets/responsiveHero2.jpg" />
    </picture>

    <div class="image-section__content">
        <h1 class="image-section__content--header">
            Welcome to Worklyfe Office
        </h1>

        <button class="secondary benefits">
            See the benefits
        </button>
    </div>
</section>