<section class="testimonials__structure">
    <div class="testimonials_real-stories testimonials__real-stories--responsive">
        <h1>Real stories from <br />Our staff</h1>

        <p>Be inspired with these experiences.</p>
    </div>

    <div class="testimonials__centered-container">
        <div class="error__structure absolute-center hide">Something went wrong. Please, try again later</div>

        <div class="testimonials__grid">
            <div class="realStories"></div>
            <div class="injectableCard1"></div>
            <div class="injectableCard2"></div>
            <div class="injectableCard3"></div>
        </div>
    </div>

    <div class="testimonials__centered-container">
        <button id="refetch" class="primary refetch-button">Refetch</button>
    </div>
</section>