.base {
  text-align: center;
  border: none;
  font-size: 16px;
  line-height: 24px;
  border-radius: 38.5px;

  cursor: pointer;
}

.primary {
  @extend .base;

  background-color: white;
  padding: 12px 61px 12px 61px;
  color: $primary;
  border: 1px solid $primary;
}

.secondary {
  @extend .base;

  padding: 12px 61px 12px 61px;
  background-color: $primary;
  color: white;
}

.login {
  display: none;
  padding: 12px 61px 12px 61px;

  @media (min-width: $breakpoint-desktop) {
    display: block;
  }
}

.benefits {
  margin: 0 auto;
  width: 80%;
  padding: 24px;
  border-radius: 38.5px;

  @media (min-width: $breakpoint-desktop) {
    width: auto;
    padding: 12px 61px 12px 61px;
  }
}

.responsive-login {
  display: block;
}