.base {
  border-radius: 20px;
  text-align: center;
  border: none;
  font-size: 16px;
  line-height: 24px;

  cursor: pointer;
}

.primary {
  @extend .base;

  background-color: white;
  color: $primary;
}

.secondary {
  @extend .base;

  padding: 12px 61px 12px 61px;
  background-color: $primary;
  color: white;
}

.login {
  display: none;
  padding: 12px 61px 12px 61px;

  @media (min-width: $breakpoint-tablet) {
    display: block;
  }
}

.benefits {
  margin: 0 auto;
}

.responsive-login {
  display: block;
}