@import "_variables";
@import "_breakpoints";
@import "_animations";
@import "_normalize";
@import "button";
@import "header";
@import "imageSection";
@import "footer";

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

body {
  font-family: $mainFont;
}