$primary: #00D411;
$secondary: #D9DBE1;
$secondaryDisabled: #C6F4C9;
$primaryDisabled: #C6F4C9;
$error: #e0483d;
$text: #424242;
$textLight: #A9A9A9;
$background: #E5E5E5;
$white: #FFFFFF;
$black: #0B0D17;

$mainFont: 'Poppins', sans-serif;